Repository keras-team/keras, pull requests merged in 2022-06, with the labels that each got.

#16648 Update lint.yml
  .github/workflows/lint.yml
Labels: ready to pull, size:XS

#16673 Fix documentation in keras.datasets.imdb
  keras/datasets/imdb.py
Labels: ready to pull, keras-team-review-pending, size:S

#16557 Update __init__.py
  keras/layers/__init__.py
Labels: ready to pull, keras-team-review-pending, size:XS

#16683 Fix documentation in keras.layers.attention.multi_head_attention
  keras/layers/attention/multi_head_attention.py
Labels: ready to pull, keras-team-review-pending, size:XS

#16689 Fix bug for KerasTensor._keras_mask should be None
  keras/engine/keras_tensor.py
  keras/engine/keras_tensor_test.py
Labels: ready to pull, size:S

#16726 Fix batchnorm momentum in ResNetRS
  keras/applications/resnet_rs.py
Labels: kokoro:force-run, ready to pull, keras-team-review-pending, size:XS
