Repository keras-team/keras, pull requests merged in 2022-11, with the labels that each got.

#17196 Updated broken link
  keras/optimizers/optimizer_v2/gradient_descent.py
Labels: ready to pull, size:XS

#17225 Delegate `finalize_variable_values` in `LossScaleOptimizerV3`
  keras/engine/training_test.py
  keras/mixed_precision/loss_scale_optimizer.py
Labels: ready to pull, keras-team-review-pending, size:S

#17226 Cherrypick pull request #17225 from lgeiger:fix-mixed-precision-ema
  keras/engine/training_test.py
  keras/mixed_precision/loss_scale_optimizer.py
Labels: ready to pull, keras-team-review-pending, size:S

#17224 Update broken link
  keras/optimizers/optimizer_experimental/sgd.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17231 Fix `use_causal_mask=True` with `RaggedTensor` bug
  keras/layers/attention/multi_head_attention.py
  keras/layers/attention/multi_head_attention_test.py
Labels: ready to pull, keras-team-review-pending, size:S

#17142 Restore update_freq functionality
  keras/callbacks.py
  keras/callbacks_test.py
  keras/integration_test/distributed_training_test.py
Labels: ready to pull, size:XS

#17239 support to compat python 3.11
  keras/utils/tf_inspect.py
Labels: ready to pull, size:S
