Repository keras-team/keras, pull requests merged in 2023-04, with the labels that each got.

#17744 Add a missing space
  keras/optimizers/optimizer.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17785 [keras/initializers/initializers_v1.py] Standardise docstring usage of "Default to"
  keras/initializers/initializers_v1.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17797 [keras/layers/convolutional/conv3d_transpose.py] Standardise docstring usage of "Default to"
  keras/layers/convolutional/conv3d_transpose.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17780 [keras/engine/training.py] Standardise docstring usage of "Default to"
  keras/engine/training.py
Labels: ready to pull, keras-team-review-pending, size:M

#17783 [keras/feature_column/dense_features.py] Standardise docstring usage of "Default to"
  keras/feature_column/dense_features.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17771 [keras/datasets/imdb.py] Standardise docstring usage of "Default to"
  keras/datasets/imdb.py
Labels: ready to pull, keras-team-review-pending, size:S

#17769 [keras/backend.py] Standardise docstring usage of "Default to"
  keras/backend.py
Labels: ready to pull, keras-team-review-pending, size:S

#17774 [keras/engine/base_layer_utils.py] Standardise docstring usage of "Default to"
  keras/engine/base_layer_utils.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17786 [keras/layers/activation/leaky_relu.py] Standardise docstring usage of "Default to"
  keras/layers/activation/leaky_relu.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17781 [keras/engine/training_v1.py] Standardise docstring usage of "Default to"
  keras/engine/training_v1.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17787 [keras/layers/activation/relu.py] Standardise docstring usage of "Default to"
  keras/layers/activation/relu.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17795 [keras/layers/convolutional/conv2d_transpose.py] Standardise docstring usage of "Default to"
  keras/layers/convolutional/conv2d_transpose.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17796 [keras/layers/convolutional/conv3d.py] Standardise docstring usage of "Default to"
  keras/layers/convolutional/conv3d.py
Labels: ready to pull, keras-team-review-pending, size:S

#17788 [keras/layers/activation/softmax.py] Standardise docstring usage of "Default to"
  keras/layers/activation/softmax.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17799 [keras/layers/convolutional/depthwise_conv2d.py] Standardise docstring usage of "Default to"
  keras/layers/convolutional/depthwise_conv2d.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17800 [keras/layers/convolutional/separable_conv2d.py] Standardise docstring usage of "Default to"
  keras/layers/convolutional/separable_conv2d.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17803 [keras/layers/locally_connected/locally_connected2d.py] Standardise docstring usage of "Default to"
  keras/layers/locally_connected/locally_connected2d.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17802 [keras/layers/locally_connected/locally_connected1d.py] Standardise docstring usage of "Default to"
  keras/layers/locally_connected/locally_connected1d.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17357 Fix performance issue with sample weights in model.fit()
  keras/engine/training_utils.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17772 [keras/datasets/reuters.py] Standardise docstring usage of "Default to"
  keras/datasets/reuters.py
Labels: ready to pull, keras-team-review-pending, size:S

#17763 [keras/applications/mobilenet.py] Standardise docstring usage of "Default to"
  keras/applications/mobilenet.py
Labels: ready to pull, keras-team-review-pending, size:S

#17762 [keras/applications/inception_v3.py] Standardise docstring usage of "Default to"
  keras/applications/inception_v3.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17779 [keras/engine/input_layer.py] Standardise docstring usage of "Default to"
  keras/engine/input_layer.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17777 [keras/engine/data_adapter.py] Standardise docstring usage of "Default to"
  keras/engine/data_adapter.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17760 [keras/applications/imagenet_utils.py] Standardise docstring usage of "Default to"
  keras/applications/imagenet_utils.py
Labels: ready to pull, keras-team-review-pending, size:S

#17789 [keras/layers/attention/additive_attention.py] Standardise docstring usage of "Default to"
  keras/layers/attention/additive_attention.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17778 [keras/engine/functional.py] Standardise docstring usage of "Default to"
  keras/engine/functional.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17791 [keras/layers/attention/multi_head_attention.py] Standardise docstring usage of "Default to"
  keras/layers/attention/multi_head_attention.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17746 Minor improvements and code refactoring in backend.py
  keras/backend.py
Labels: ready to pull, keras-team-review-pending, size:S

#17945 Update indentation level - layers/attention
  keras/layers/attention/additive_attention.py
  keras/layers/attention/attention.py
  keras/layers/attention/base_dense_attention.py
Labels: ready to pull, keras-team-review-pending, size:M

#17943 Update indentation level - layers/activation
  keras/layers/activation/elu.py
  keras/layers/activation/leaky_relu.py
  keras/layers/activation/prelu.py
  keras/layers/activation/relu.py
  keras/layers/activation/softmax.py
  keras/layers/activation/thresholded_relu.py
Labels: ready to pull, keras-team-review-pending, size:M

#17820 [keras/layers/preprocessing/image_preprocessing_test.py] Standardise docstring usage of "Default to"
  keras/layers/preprocessing/image_preprocessing_test.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17825 [keras/layers/preprocessing/text_vectorization.py] Standardise docstring usage of "Default to"
  keras/layers/preprocessing/text_vectorization.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17864 [keras/optimizers/ftrl.py] Standardise docstring usage of "Default to"
  keras/optimizers/ftrl.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17861 [keras/optimizers/adam.py] Standardise docstring usage of "Default to"
  keras/optimizers/adam.py
Labels: ready to pull, keras-team-review-pending, size:S

#17862 [keras/optimizers/adamax.py] Standardise docstring usage of "Default to"
  keras/optimizers/adamax.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17867 [keras/optimizers/legacy/adam.py] Standardise docstring usage of "Default to"
  keras/optimizers/legacy/adam.py
Labels: ready to pull, keras-team-review-pending, size:S

#17868 [keras/optimizers/legacy/ftrl.py] Standardise docstring usage of "Default to"
  keras/optimizers/legacy/ftrl.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17895 [keras/utils/dataset_utils.py] Standardise docstring usage of "Default to"
  keras/utils/dataset_utils.py
Labels: ready to pull, keras-team-review-pending, size:S

#17896 [keras/utils/feature_space.py] Standardise docstring usage of "Default to"
  keras/utils/feature_space.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17875 [keras/optimizers/nadam.py] Standardise docstring usage of "Default to"
  keras/optimizers/nadam.py
Labels: ready to pull, keras-team-review-pending, size:S

#17889 [keras/saving/serialization_lib.py] Standardise docstring usage of "Default to"
  keras/saving/serialization_lib.py
Labels: ready to pull, keras-team-review-pending, size:XS

#17850 [keras/metrics/base_metric.py] Standardise docstring usage of "Default to"
  keras/metrics/base_metric.py
Labels: ready to pull, keras-team-review-pending, size:XS

#18005 Update indentation level - utils/image_dataset
  keras/utils/image_dataset.py
Labels: ready to pull, size:M

#17976 [keras/optimizers/schedules] Standardise docstring usage of "Default to"
  keras/optimizers/schedules/learning_rate_schedule.py
Labels: ready to pull, size:XS

#17969 [keras/layers/reshaping] Standardise docstring usage of "Default to"
  keras/layers/reshaping/cropping2d.py
  keras/layers/reshaping/cropping3d.py
  keras/layers/reshaping/flatten.py
  keras/layers/reshaping/up_sampling2d.py
  keras/layers/reshaping/up_sampling3d.py
  keras/layers/reshaping/zero_padding2d.py
  keras/layers/reshaping/zero_padding3d.py
Labels: ready to pull, size:M

#17970 [keras/layers/rnn] Standardise docstring usage of "Default to"
  keras/layers/rnn/base_conv_lstm.py
  keras/layers/rnn/conv_lstm1d.py
  keras/layers/rnn/conv_lstm2d.py
  keras/layers/rnn/conv_lstm3d.py
  keras/layers/rnn/gru.py
  keras/layers/rnn/legacy_cells.py
  keras/layers/rnn/lstm.py
Labels: ready to pull, size:M

#17798 [keras/layers/convolutional/depthwise_conv1d.py] Standardise docstring usage of "Default to"
  keras/layers/convolutional/depthwise_conv1d.py
Labels: ready to pull, size:XS

#17764 [keras/applications/mobilenet_v3.py] Standardise docstring usage of "Default to"
  keras/applications/mobilenet_v3.py
Labels: ready to pull, size:XS

#17955 [keras/datasets] Standardise docstring usage of "Default to"
  keras/datasets/reuters.py
Labels: ready to pull, size:S

#17961 [keras/layers/activation] Standardise docstring usage of "Default to"
  keras/layers/activation/leaky_relu.py
Labels: ready to pull, size:S
